#body {
  background-color: black;
  color: white;
}

.add_form {
 display: block;
}

#user_container{
  display: flex;

}

#password_box {
  display: grid
  grid-template-columns: 1fr 2fr 2fr 1fr;
  flex-basis: 100%;
  align-items: center;

}

#password_box > * {
    flex-basis: 100%;
}
