#body {
  background-color: #121212;
  color: white;
}

.add_form {
 display: block;
}

#user_container{
  display: flex;

}

#password_box {
  display: flex;
  flex-basis: 100%;
  align-items: center;


}

#password_box > * {
    flex-basis: 100%;
}
